{% extends 'base.twig' %}

{% block title %}Request from Wonder House{% endblock %}

{% block body %}
 <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader">Новая заявка с Wonder House</span>
            <table role="presentation" class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p>Привет Роберт!</p>
                        <p>{{ customer.name }} только что сделал заказ.</p>
                         <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                          <tbody>
                            <tr>
                              <td align="left">
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                  <thead>
                                    <tr>
                                      <td><b>Наименование</b></td>
                                      <td><b>Цена</b></td>
                                    </tr>
                                  <thead>
                                  <tbody>
                                    {% for product in products %}
                                    <tr>
                                      <td style="text-align: left;">{{ product.title }}</td>
                                      <td>{{ product.price }} ₽</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                      <td style="text-align: left;">Доставка: </td>
                                      <td>{{ shipment }} ₽</td>
                                    </tr>
                                  </tbody>
                                  <tfoot>
                                    <tr>
                                      <td style="text-align: right;">Итого с учетом доставки:</td>
                                      <td>{{ total }} ₽</td>
                                    </tr>
                                  </tfoot>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <p><b>Телефон:</b> {{ customer.phone }}.</p>
                        <p><b>Регион:</b> {{ customer.region }}.</p>
                        <p><b>Адрес:</b> {{ customer.address }}.</p>
                        <p><b>Доставка:</b> {{ customer.shipmentType }}.</p>
                        <p><b>Сообщение:</b> {{ customer.message }}</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

            <!-- END MAIN CONTENT AREA -->
            </table>

            <!-- START FOOTER -->
            <div class="footer">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <span class="apple-link">Wonder House</span>
                  </td>
                </tr>
              </table>
            </div>
            <!-- END FOOTER -->

          <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
{% endblock %}